################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assetmanagement/.vs/Assetmanagement/v16/Server/sqlite3
